*{
  margin: auto;
  box-sizing: border-box;
  padding: 5px;
}

html{
  background-image: url(https://img.freepik.com/vector-gratis/fondo-forma-franja-geometrica-minima_1409-1014.jpg?size=626&ext=jpg&ga=GA1.2.1202750333.1621264815);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
}

h2 {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.foto img {
  border-radius: 50%;
}

.extra {
  border: 3px white solid;
}
